.card table {
    margin: 0!important;
    border: none!important;
}

table thead{
    background-color: #198754;
    color: white;

}

table thead th {
    font-weight: 500;
}


.page-number {
    border-radius: 0!important;
}

/* Tắt 2 nút tăng giảm giá trị của số */
.inp-page-number::-webkit-inner-spin-button,
.inp-page-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.card-header,
.card-footer {
    padding: 8px 6px !important;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-container .form-check{
    padding-left: 0!important;
}

.checkbox-container label{
    font-weight: normal!important;
}

.img-box {
    position: relative;
}

.btn-remove-img {
    position: absolute;
    left: 0px;
}